      <!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
        <div  class="swiper-slide" ng-repeat="logo in brands">
            <img src="frontend/{{logo.img}}" />
            <h1>{{logo.brand}}</h1>
        </div>
    </div> 
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>

<div id="types_buttons">
  <div class="card" ng-repeat="type in types" style="width: 18rem;">
    <img src="frontend/{{type.img}}" class="card-img-top">
    <div class="card-body">
      <h2 class="card-title">{{type.nom}}</h2>
      <p>Los coches que tienen un motor {{type.nom}}</p>
    </div>
  </div>
</div></br>
<div id="categories_buttons">
  <div class="card" ng-repeat="categorie in categories" style="width: 18rem;">
    <img src="frontend/{{categorie.img}}" class="card-img-top">
    <div class="card-body">
      <h2 class="card-title">{{categorie.nom}}</h2>
      <p>Todos los coches disponibles de {{categorie.nom}}</p>
    </div>
  </div>
</div>
<div id="news_home">

</div>
