      <!-- Slider main container -->
<h1>Brands which we work</h1>
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
        <div  class="swiper-slide" ng-click="home_filter(logo.id,'brand')" ng-repeat="logo in brands">
            <img src="frontend/{{logo.img}}" />
            <h1>{{logo.brand}}</h1>
        </div>
    </div> 
    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
<h1>Motor types</h1>
<div id="types_buttons">
  <div class="card" ng-repeat="type in types" ng-click="home_filter(type.id,'type')" style="width: 18rem;">
    <img src="frontend/{{type.img}}" class="card-img-top">
    <div class="card-body">
      <h2 class="card-title">{{type.nom}}</h2>
      <p>Los coches que tienen un motor {{type.nom}}</p>
    </div>
  </div>
</div></br>
<h1>Categories of Cars</h1>
<div id="categories_buttons">
  <div class="card" ng-repeat="categorie in categories" ng-click="home_filter(categorie.id,'categorie')" style="width: 18rem;">
    <img src="frontend/{{categorie.img}}" class="card-img-top">
    <div class="card-body">
      <h2 class="card-title">{{categorie.nom}}</h2>
      <p>Todos los coches disponibles de {{categorie.nom}}</p>
    </div>
  </div>
</div>
<h1>News about Cars</h1>
<div id="news_home">
<div ng-repeat="new in news" class="box-new">
  <h2>{{new.title}}</h2>
  <img src="{{new.image}}" />
  <p>{{new.description}}</p>
</div>
<input type="button" ng-show="service_news_button"  ng-click="allnews()" value="More news">
</div>
