<header>
    <div class="container">
            <ul>
                <li class="logo">
                    <img style="width:100px;height:100px" src="frontend/view/img/logo_autoshell.png"></img>   
                </li>
                <li class="button_menu">
                    <a href="#/home">
                        <span><i class="fas fa-home fa-3x"></i></span>
                    </a>
                </li>
                <li class="button_menu">
                    <a href="#/shop">
                        <span><i class="fas fa-car fa-3x"></i></span>
                    </a>
                </li>
                <li class="button_menu">
                    <a href="#/contact">
                        <span><i class="fas fa-address-book fa-3x"></i></span>
                    </a>
                </li>
                <li class="space">
                </li>
                <li class="search_inputs">
                    <i class="fas fa-gas-pump fa-3x"></i>
                    <select ng-model="type_search" ng-click="change_type(type_search.id)" ng-options="type.nom for type in typesearch">
                            
                    </select>
                </li>
                <li class="search_inputs">
                    <i class="fas fa-car fa-3x"></i>
                    <select ng-model="categorie_search" ng-options="categorie.brand for categorie in categoriesearch">
                    </select>
                </li>
                <li class="search_inputs_text">                        
                    <input type="text" ng-model="text_complete" ng-keyup="find_city_search(text_complete)" maxlength="20" style="width: 300px;" autocomplete="off"/>
                    <div id="search_auto" style="background-color: white;opacity: 0.8;color: black;z-index: 102;position: fixed;width: 150px"></div>
                    <button class="send_information_header"><i class="fas fa-search fa-2x"></i></button>
                </li>
                <!-- <li class="panel_user">
                    <div id="default_panel" class="default_panel_user">
                    </div>
                </li> -->
            </ul>
    </div>
</header>
<!-- <div id="panel_register" hidden>
    <span id="user_login_close"><i class="fas fa-window-close fa-2x"></i></span>
    <?php
        include( Login_view . "/login.html");
        include( Login_view . "/register.html");
    ?>
</div> -->
