<header>
    <div class="black_layer" ng-show="show_panel_login"></div>
    <div class="container">
            <ul>
                <li class="logo">
                    <img style="width:100px;height:100px" src="frontend/view/img/logo_autoshell.png"></img>   
                </li>
                <li class="button_menu">
                    <a href="#/home">
                        <span><i class="fas fa-home fa-3x"></i></span>
                    </a>
                </li>
                <li class="button_menu">
                    <a href="#/shop">
                        <span><i class="fas fa-car fa-3x"></i></span>
                    </a>
                </li>
                <li class="button_menu">
                    <a href="#/contact">
                        <span><i class="fas fa-address-book fa-3x"></i></span>
                    </a>
                </li>
                <li class="space">
                </li>
                <li class="search_inputs">
                    <i class="fas fa-gas-pump fa-3x"></i>
                    <select ng-model="type_search" ng-click="change_type(type_search.id)" ng-options="type.nom for type in typesearch">
                            
                    </select>
                </li>
                <li class="search_inputs">
                    <i class="fas fa-car fa-3x"></i>
                    <select ng-model="categorie_search" ng-options="categorie.brand for categorie in categoriesearch">
                    </select>
                </li>
                <li class="search_inputs_text">                        
                    <input list="text_data" ng-model="text_complete" ng-keyup="find_city_search(type_search.id,categorie_search.brand,text_complete)" maxlength="20" style="width: 300px;" autocomplete="false"/>
                    <datalist id="text_data">
                        <option ng-repeat="ciudad in city" ng-click="set_value(ciudad.ciudad)" value="{{ciudad.ciudad}}">{{ciudad.ciudad}}</option>
                    </datalist>
                    <button class="send_information_header" ng-click="send_information_shop(type_search.id,categorie_search.id)"><i class="fas fa-search fa-2x"></i></button>
                </li>
                <li class="panel_user">
                    <span class=" btn btn-dark" ng-click="show_panel()">Login In <i class="fas fa-user fa-2x"></i></span>
                </li>
            </ul>
    </div>
    <div ng-model="panel_login" ng-show="show_panel_login" id="panel_register">
        <i ng-click="down_panel()" class="fas fa-times-circle btn btn-danger"></i>
        <div id="login">
            <h1>Login</h1>
            <form id="login">
                <input type="text" name="user" placeholder="Username" id="user"/><br>
                <input type="password" name="password" placeholder="Password" id="password"/><br>
                <div id="buttons_login">
                    <input type="button" id="login_button" class="button_panel_register" value="Login" /><br>
                    <input type="button" id="login_google" class="fa-input" value="&#xf1a0"/>
                    <input type="button" id="login_github" class="fa-input" value="&#xf09b"/>
                    <p id="remind">Don't remember your user?</p>
                </div>
            </form>
        </div>
        <div id="register">
            <h1>Register</h1>
            <form id="register">
                <input type="text" placeholder="Username" name="username" id="username"/><br>
                <input type="password" placeholder="Password" name="Password" id="Password"/><br>
                <input type="password" placeholder="Confirm" name="confirm" id="confirm"/><br>
                <input type="email" placeholder="Email" name="email" id="email"/><br>
                <div id="buttons_login">
                    <input type="button" id="register_button" class="button_panel_register" value="Register"/><br />
                    <input type="button" id="register_google" class="fa-input" value="&#xf1a0"/>
                    <input type="button" id="register_github" class="fa-input" value="&#xf09b"/>
                </div>
            </form>
        </div>
    </div>
</header>

